.dev_title{
    font-weight: 200;
}

.dev_placeholder{
    margin: 20px 0px;
    border: solid lightgrey;
    border-radius: .2rem;
}

.dev_button_spacing{
    margin: 5px;
}

.dev_filters_row{
    margin-left: 15px;
    margin-right: 10px;
}

.dev_search_title{
    margin: 30px;
}

.dev_img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.dev_card{
    margin-top: 10px;
}
